.container-header {
  display: flex;
  max-width: 1305px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-right: 24px;
  padding-left: 24px;
  justify-content: space-between;
  align-items: center;
  font-family: ubuntu;
}

.header-menu-wrapper {
  display: flex;
}

.header-logo {
  width: 180px;
  transition: transform 350ms ease;
}

.header-logo:hover {
  transform: scale(1.1);
}

.header-navigation {
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.nav-link {
  display: block;
  font-size: 20px;
  padding: 16px 19px;
  border-radius: 14px;
  transition: background-color 350ms ease, color 350ms ease;
  color: #3a395e;
  line-height: 1em;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #f7f6ff;
  color: #ff8e26;
  font-style: normal;
}

.section {
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 150px;
}

.hero-wrapper {
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
  display: flex;
  max-width: 1305px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  font-family: ubuntu;
}

.image.hero {
  position: relative;
  top: auto;
  bottom: auto;
  display: block;
  overflow: visible;
  max-width: 60%;
  margin-right: 0px;
  margin-left: auto;
  padding-bottom: 0px;
  flex: 0 auto;
  border-radius: 0px;
  text-align: right;
  object-fit: fill;
}

h1 {
  font-size: 70px;
  color:#ff8e26;
}

h2 {
  font-size: 48px;
  color: #7051ef;
}

p {
  font-size: 24px;
  line-height: 1.5;
}

.hero-buttons {
  display: flex;
  max-width: none;
  justify-content: flex-start;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.button-primary {
  display: flex;
  overflow: visible;
  width: 180px;
  height: 60px;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #ff8e26;
  box-shadow: 0 3px 17px 0 rgba(250, 173, 103, 0.26);
  opacity: 1;
  transition: box-shadow 350ms ease, transform 350ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 1em;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  object-fit: fill;
}

.link {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  flex: 0 auto;
  color: #15141f;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  display: flex;
  overflow: visible;
  width: 180px;
  height: 60px;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #fbf1ff;
  box-shadow: 0 3px 17px 0 rgba(172, 103, 250, 0.26);
  opacity: 1;
  transition: box-shadow 350ms ease, transform 350ms ease;
  text-align: center;
  text-transform: capitalize;
  object-fit: fill;
}

.button-primary:hover {
  box-shadow: 0 7px 25px 0 rgba(230, 147, 71, 0.28);
  transform: scale(1.05);
  color: #fff;
}

.link:hover {
  box-shadow: 0 7px 25px 0 rgba(140, 71, 230, 0.28);
  transform: scale(1.05);
  color: #7051ef;
}

.footer {
  padding-top: 49px;
  padding-bottom: 47px;
  border-top: 1px solid #f7f7fa;
  background-color: rgb(34, 34, 34);
}

.logo-footer {
  width: 160px;
  transition: transform 350ms ease;
}

.logo-footer:hover {
  transform: scale(1.1);
}

.container-footer1 {
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  max-width: 1305px;
}

.top-content {
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
  align-items: center;
}

.paragraph.footer-paragraph {
  font-size: 18px;
  color: #fff;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e5e5ea;
}

.divider.footer-divider {
  margin: 30px auto;
}

.footer-social-media-grid {
  display: flex;
  margin: 0px auto 40px;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto;
  cursor: auto;
}

.social-media-link {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 999999999px;
  transition: box-shadow 350ms ease, -webkit-transform 350ms ease;
  transition: box-shadow 350ms ease, transform 350ms ease;
  transition: box-shadow 350ms ease, transform 350ms ease, -webkit-transform 350ms ease;
  margin-left: 5px;
  margin-right: 5px;
}

.div-block {
  font-size: 18px;
  margin-bottom: 15px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}

.social-media-link:hover {
  transform: scale(1.1);
}

.small-print {
  line-height: 1.111em;
  text-align: center;
}

.small-print.copyright {
  color: #fff;
  text-transform: capitalize;
}

